<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    	<!-- Bootstrap -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">
    	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    	<link href="css/stylesheet.css" rel="stylesheet">

    	<title>{{field}}</title>
    </head>

<body>
  <div class="moodbackground">



<!-- NAVIGATION BAR -->


  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a>
            <form class="navbar-form pull-left" role="search">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         </form>


    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right pull-right" style="padding-right:20px;">
        <li><a href="login.html"> Sign In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- END NAVIGATION BAR -->


<!-- START BANNER -->
<div class="jumbotron">
  <div class="container">
  </div>
</div>
<!-- END BANNER -->

    <div>
      <h3 class="ChooseHead"><p>Recipes by {{field}}</p></h3>
    </div>
<br>

<!-- START MENU BOXES-->
<div class="container-fluid square-container center">
    <div class="row center"> 
    {{#each thing}} 
        <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="square-box">
                <a href="/{{../field}}/{{name}}">
                  <p style="color:black" class="mood-name">{{name}}</p>
                  <div class="overlay center">
                    <div class="square-content">
                        <img src="{{image}}" width="134px" height="134px"/>
                    </div>
                  </div>
                </a>
              </div>
          </div>
    {{/each}}
      </div>
</div>
<!-- END MENU BOXES -->

  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="/scripts/handlebars-0.9.0.pre.4.js" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>

</html>