<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Jquery Mobile -->
    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
   <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
    <!-- Our css sheet -->
    <link href="css/stylesheet.css" rel="stylesheet">

    <title> DrinkBuddy </title>
   {{> tracking_code_script}}
	</head>

  <body class="cream-body">

<!-- NAVIGATION BAR -->


  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" id="red"></span><span class="sr-only">(current)</span></a>
            <form id="search-bar" class="navbar-form pull-left" role="search" action="/search">
            <div class="input-group">
               <input name= "input" id="input" type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button id="searchButton" value="Submit" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" id="red"></span></button>
               </div>
            </div>
         </form>
      
      <ul class="nav navbar-nav navbar-right pull-right" style="padding-right:20px;">
        <li><a href="login.html" id="red"> Sign In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- END NAVIGATION BAR -->

<!-- START MENU BOXES-->









      <div class="center drinkbuddy"><img class= "center img-responsive" src="images/drinkbuddy.jpg"></div>
      <div><h3 class="ChooseHead">Choose a Recipe:</h3></div>

<br>
      <div class="container button-container center">
        <div class"row button-row center">
          <div class="col-xs-6 col-md-6 col-lg-6">
              <a href="/favorite" class="btn btn-red btn-small" style="width:85%"><span class="glyphicon glyphicon-heart"></span> My Favorites</a>
            </a>
          </div>

          <div class="col-xs-6 col-md-6 col-lg-6">
            <a href="/addadrink">
              <button class="btn btn-green btn-small" style=" width:85%"><span class="glyphicon glyphicon-plus"></span> Add A Drink</button>
            </a>
          </div>
        </div><!-- favorites row-->
      </div><!--container -->

      <div class="center" class="row"> 
        {{#each by_what}}
          <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="square-box">
                <a href="/{{link}}">
                  <p style="color:white; font-weight: 100px  text-align: center centered" class="mood-name">{{name}}</p>
                  <div class="overlay center">
                    <div class="square-content">
                        <img src="{{image}}" width="134px" height="134px"/>
<!--                         <p class="mood-name">{{name}}</p> -->
                    </div>
                  </div>
                </a>
              </div>
          </div>

<!--         <a href="/{{link}}">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
            <img src="{{image}}" width="180px" height="180px"/>
              <p class='mood-name'>{{ name }}</p>
          </div>
        </a> -->
        {{/each}}
      </div>
</div>

<!-- END MENU BOXES-->

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wTrack.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>


</html>